@import 'variables.css';

nav {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    position: fixed;
    background-color: white;
    box-shadow: var(--shadow1);
}

#navbar {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding-right: 3vw;
    gap: 1vw;
    transition: all 0.3s ease-in-out;
}

#navbar li {
    margin-left: 20px;
    cursor: pointer;
    font-size: large;
}

#navbar li a {
    text-decoration: none;
    color: black;
}

#navbar li a:hover {
    color: green;
}

#navbar li a.active {
    color: green;
}

#logo {
    object-fit: cover;
    max-height: 8vh;
    margin-left: 5vw;
}

/* Burger nav */
#burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 2rem;
    width: auto;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 2vw;
}

#nav-logo {
    font-size: 4em;
  
}


@media (max-width: 768px) {
    #burger-menu {
        display: flex;
    }

    #navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 8vh;
        right: 0;
        background-color: white;
        width: 100%;
        padding: 10px;
    }

    #navbar.active {
        display: flex;
    }
}
