#NVA {
    padding: 2vw;
    max-width: 100%;
}

#nva-img {
    width: 20%;
    height: auto;
}



@media (max-width: 768px) {
    #NVA {
        padding: 4vw;
    }

    #nva-img {
        width: 100%;
        height: auto;
    }
}